.profile__edit-button{
    width: 24px;
    height: 24px;
    border: none;
    background: url(../../../images/edit.svg);
    background-size: contain;
    position: absolute;
    top: 16px;
    right: -44px;
}

.profile__edit-button:hover{
    opacity: 0.6;
    transition: 0.2s ease;
    cursor: pointer;
}

@media (max-width: 740px){
    .profile__edit-button{
        width: 18px;
        height: 18px;
        top: 8px;
        right: -28px;
    }
}